{% extends 'base.html.twig' %}

{% block title %}Détails d'une formation{% endblock %}

{% block body %}

    <h1>Détails d'une formation</h1>

    <p>
        {{ formation.nomFormation }}
    </p>

    <h1>Liste des sessions pour cette formation :</h1>
    
    <h2>Sessions terminées :</h2>

    {# {% if formation.session.dateDebut < now and formation.session.dateFin < now %} #} {# session.dateFin < now #}

        {% for session in formation.sessions %}
            {% if session.dateDebut < now and session.dateFin < now %}
                <a href="{{ path('show_session', {'id' : session.id}) }}">{{ session.nomSession }}</a><br>
            {% endif %}
        {% endfor %}

    {# {% endif %} #}

    <h2>Sessions en cours :</h2>

    {# {% if formation.session.dateDebut <= now and formation.session.dateFin >= now %} #}

        {% for session in formation.sessions %}
            {% if session.dateDebut <= now and session.dateFin >= now %}
                <a href="{{ path('show_session', {'id' : session.id}) }}">{{ session.nomSession }}</a><br>
            {% endif %}
        {% endfor %}

    {# {% endif %} #}

    <h2>Sessions à venir :</h2>

    {# {% if formation.session.dateDebut > now and formation.session.dateFin > now %} #} {# session.dateDebut > now #}

        {% for session in formation.sessions %}
            {% if session.dateDebut > now and session.dateFin > now %}
                <a href="{{ path('show_session', {'id' : session.id}) }}">{{ session.nomSession }}</a><br>
            {% endif %}    
        {% endfor %}

    {# {% endif %} #}
    
{% endblock %}



